<% if(success && success.length) { %>
    <%# creates a success flash%>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <%=success %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% } %>



            <% if(error && error.length) { %>
                <%# creates a success flash%>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <%=error %>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <% } %>