<footer class="footer bg-dark py-3 mt-auto">
    <%# py: padding in y axis, mt-auto makes it so footer is that the bottom of page %>
        <div class="container">
            <span class='text-white'>&copy;CampReview 2022</span>
        </div>
</footer>