<% layout('layouts/boilerplate')%>
    <div class="row">
        <h1 class="text-center"> New Campground</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/campgrounds" method="POST" novalidate class="validatedform" enctype="multipart/form-data">
                <%# novalidate stops browser to validate the requirement%>
                    <div class="mb-3">
                        <label class="form-label" for="title">Title:</label>
                        <input class="form-control" type="text" id="title" name="campground[title]" required>
                        <%#required lets bootstrap do the validation instead of browser %>
                            <div class="valid-feedback">Looks good!</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="location">Location:</label>
                        <input class="form-control" type="text" id="location" name="campground[location]" required>
                        <div class="valid-feedback">Looks good!</div>

                    </div>
                    <!-- <div class="mb-3">
                        <label class="form-label" for="image">Image Url</label>
                        <input class="form-control" type="text" id="image" name="campground[image]" required>
                        <div class="valid-feedback">Looks good!</div>

                    </div> -->
                    <div class="form-group ">
                        <label class="form-label" for="price">Campground Price:</label>
                        <div class="input-group">
                            <span class="input-group-text">$</span>
                            <input type="number" class="form-control" id="price" aria-label="price" placeholder="0"
                                name="campground[price]" required>
                            <span class="input-group-text">.00</span>
                            <div class="valid-feedback">Looks good!</div>

                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label" for="description">Description:</label>
                        <textarea class="form-control" type="text" id="description" name="campground[description]"
                            required></textarea>
                        <div class="valid-feedback">Looks good!</div>

                    </div>
                    <div class="input-group mb-3">
                        <input type="file" class="form-control" id="image" name="image" multiple>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-success">Add Campground</button>
                    </div>
            </form>
            <div>
                <a href="/campgrounds/">Cancel</a>
            </div>
        </div>
    </div>